body{
  font-family: Arial, sans-serif;
  margin:0;
  padding:20px;
  background: linear-gradient(180deg, #ff5a2f, #d84315);
}

/* TARJETAS */
.demo-form-card, .resultado-card{
  background:#f5f5f5;
  border-radius:30px;
  padding:25px;
  max-width:350px;
  margin:20px auto;
  box-shadow:0 15px 30px rgba(0,0,0,0.2);
}

/* TITULOS */
h3{
  color:#e64a19;
  font-size:24px;
  margin-bottom:10px;
}

p{
  color:#555;
  margin-bottom:20px;
}

/* FORM */
form{
  display:flex;
  flex-direction:column;
  gap:15px;
}

label{
  font-weight:bold;
  color:#333;
}

input{
  padding:15px;
  border-radius:20px;
  border:2px solid #ddd;
  outline:none;
  font-size:14px;
}

input:focus{
  border-color:#ff5a2f;
}

/* BOTON */
button{
  margin-top:10px;
  padding:15px;
  border:none;
  border-radius:30px;
  background: linear-gradient(90deg, #ff5a2f, #ff7043);
  color:white;
  font-size:16px;
  font-weight:bold;
  cursor:pointer;
  transition:0.3s;
}

button:hover{
  transform:scale(1.03);
  box-shadow:0 5px 15px rgba(0,0,0,0.2);
}

/* RESULTADO */
#resultado{
  margin-top:10px;
  padding:15px;
  border-radius:15px;
  background:white;
  font-size:14px;
}
